; /etc/asterisk/dnsmgr.conf:
; This file is very useful for DNS refreshing when using VOIP providers

[general]
enable=yes		; enable creation of managed DNS lookups
refreshinterval=300	; refresh managed DNS lookups every <n> seconds
