[general]
bindport=4569
iaxcompat=yes
bandwidth=high
allow=all
allow=gsm                      ; Always allow GSM, it's cool :)
jitterbuffer=no
tos=lowdelay

;register => 1112223333:PASSWORD@iax.binfone.com
register => ASTloop:test@127.0.0.1:40569
register => ASTblind:test@127.0.0.1:41569

[ASTloop]
type=friend
accountcode=ASTloop
context=default
auth=plaintext
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
qualify=yes

[ASTblind]
type=friend
accountcode=ASTblind
context=default
auth=plaintext
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
qualify=yes

[1112223333]
auth=md5
type=friend
username=1112223333
secret=PASSWORD
host=iax.binfone.com
context=incoming-IAX-context-in-extensions.conf

[ASTtest2]
type=friend
accountcode=IAXtrunk2
context=default
auth=plaintext
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
qualify=yes

[firefly01]
type=friend
accountcode=firefly01
context=default
auth=plaintext
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=gsm
qualify=yes


[cc300]
type=friend
accountcode=cc300
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc301]
type=friend
accountcode=cc301
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc302]
type=friend
accountcode=cc302
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc303]
type=friend
accountcode=cc303
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc304]
type=friend
accountcode=cc304
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc305]
type=friend
accountcode=cc305
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc306]
type=friend
accountcode=cc306
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc307]
type=friend
accountcode=cc307
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc308]
type=friend
accountcode=cc308
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc309]
type=friend
accountcode=cc309
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc310]
type=friend
accountcode=cc310
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc311]
type=friend
accountcode=cc311
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc312]
type=friend
accountcode=cc312
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc313]
type=friend
accountcode=cc313
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc314]
type=friend
accountcode=cc314
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc315]
type=friend
accountcode=cc315
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc316]
type=friend
accountcode=cc316
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc317]
type=friend
accountcode=cc317
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc318]
type=friend
accountcode=cc318
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc319]
type=friend
accountcode=cc319
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc320]
type=friend
accountcode=cc320
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc321]
type=friend
accountcode=cc321
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc322]
type=friend
accountcode=cc322
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc323]
type=friend
accountcode=cc323
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc324]
type=friend
accountcode=cc324
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc325]
type=friend
accountcode=cc325
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc326]
type=friend
accountcode=cc326
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc327]
type=friend
accountcode=cc327
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc328]
type=friend
accountcode=cc328
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc329]
type=friend
accountcode=cc329
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc330]
type=friend
accountcode=cc330
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc331]
type=friend
accountcode=cc331
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc332]
type=friend
accountcode=cc332
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc333]
type=friend
accountcode=cc333
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc334]
type=friend
accountcode=cc334
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc335]
type=friend
accountcode=cc335
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc336]
type=friend
accountcode=cc336
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc337]
type=friend
accountcode=cc337
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc338]
type=friend
accountcode=cc338
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc339]
type=friend
accountcode=cc339
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc340]
type=friend
accountcode=cc340
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc341]
type=friend
accountcode=cc341
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc342]
type=friend
accountcode=cc342
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc343]
type=friend
accountcode=cc343
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc344]
type=friend
accountcode=cc344
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc345]
type=friend
accountcode=cc345
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc346]
type=friend
accountcode=cc346
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc347]
type=friend
accountcode=cc347
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc348]
type=friend
accountcode=cc348
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc349]
type=friend
accountcode=cc349
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

[cc350]
type=friend
accountcode=cc350
context=default
auth=md5
host=dynamic
permit=0.0.0.0/0.0.0.0
secret=test
disallow=all
allow=ulaw
allow=alaw
allow=gsm
qualify=yes

