[general]
port = 5060
bindaddr = 0.0.0.0
context = default
; register SIP account on remote machine if using SIP trunks
; register => testSIPtrunk:test@10.10.10.16:5060
;
; setup account for SIP trunking:
; [SIPtrunk]
; disallow=all
; allow=ulaw
; allow=alaw
; type=friend
; username=testSIPtrunk
; secret=test
; host=10.10.10.16
; dtmfmode=inband
; qualify=1000

[gs102]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=gs102
secret=test
host=dynamic
dtmfmode=inband
defaultip=10.10.10.16
qualify=1000
mailbox=102

[spa2000]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=spa2000
secret=test
host=dynamic
dtmfmode=inband
defaultip=10.10.10.17
qualify=1000
mailbox=2000

[spa2001]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=spa2001
secret=test
host=dynamic
dtmfmode=inband
defaultip=10.10.10.17
qualify=1000
mailbox=2001





[cc100]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc100
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=100

[cc101]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc101
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=101

[cc102]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc102
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=102

[cc103]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc103
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=103

[cc104]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc104
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=104

[cc105]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc105
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=105

[cc106]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc106
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=106

[cc107]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc107
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=107

[cc108]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc108
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=108

[cc109]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc109
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1000
mailbox=109

[cc110]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc110
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=110

[cc111]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc111
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=111

[cc112]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc112
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=112

[cc113]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc113
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=113

[cc114]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc114
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=114

[cc115]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc115
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=115

[cc116]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc116
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=116

[cc117]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc117
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=117

[cc118]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc118
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=118

[cc119]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc119
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1100
mailbox=119

[cc120]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc120
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=120

[cc121]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc121
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=121

[cc122]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc122
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=122

[cc123]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc123
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=123

[cc124]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc124
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=124

[cc125]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc125
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=125

[cc126]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc126
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=126

[cc127]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc127
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=127

[cc128]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc128
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=128

[cc129]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc129
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1200
mailbox=129

[cc130]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc130
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=130

[cc131]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc131
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=131

[cc132]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc132
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=132

[cc133]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc133
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=133

[cc134]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc134
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=134

[cc135]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc135
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=135

[cc136]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc136
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=136

[cc137]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc137
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=137

[cc138]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc138
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=138

[cc139]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc139
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1300
mailbox=139

[cc140]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc140
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=140

[cc141]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc141
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=141

[cc142]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc142
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=142

[cc143]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc143
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=143

[cc144]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc144
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=144

[cc145]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc145
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=145

[cc146]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc146
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=146

[cc147]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc147
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=147

[cc148]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc148
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=148

[cc149]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc149
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=149

[cc150]
disallow=all
allow=ulaw
allow=alaw
type=friend
username=cc150
secret=test
host=dynamic
dtmfmode=inband
defaultip=192.168.1.249
qualify=1400
mailbox=150
